/* Creates a background image for all pages */
body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styling for navigation links */
nav a {
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 550;
  color: green;
}

/* Styling for when mouse hovers over link */
nav a.active {
  text-decoration: underline;
}

/* Styling for navigation and unordered lists (links) */
nav ul,
ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

/* Styling for header (logo/nav links) */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* Styling for links */
li {
  margin-left: 20px;
}

/* Styling for the profile picture */
.profile-pic {
  width: 140px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}

/* Styling for hover effect on navigation links */
nav a:hover {
  color: blue;
}

/* Styling for the main section of home page */
.intro_to_portfolio {
  padding: 50px;
  text-align: center;
}

/* Styling for the welcome message */
#welcome_message {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 20px;
}

/* Styling for the introductory paragraph */
#intro {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 2;
}
